@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

table{
	border-collapse: collapse;
}

td{
	padding: 0 .5em 0 0;
	vertical-align: top;
}

td:first-child{
	font-variant: small-caps;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-style: italic;
}

#chapter-6 blockquote header{
	text-align: center;
}

#chapter-6 blockquote header > p{
	text-indent: 0;
}

#chapter-6 blockquote p > b{
	display: block;
	text-align: center;
	margin: 1em 0;
}

#chapter-6 blockquote header + p > b{
	font-variant: all-small-caps;
}

#chapter-11 blockquote{
	text-align: center;
	font-variant: all-small-caps;
}

#chapter-20 ol{
	list-style-type: none;
}

#chapter-20 ol > li:last-child{
	margin-top: 0.5em;
}
